<!DOCTYPE html>
{% load static %}
{% include "navigation.html" %}
<html lang="en">

    <head>

        <title>ShopFast Asistant</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/mydesign.css'%}">
        <script src="{% static 'umd/popper.min.js'%}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>

      <div id ="addnav"></div>

           <div class="container">    
               <div class="col-sm-4"> 
                   <div class="panel panel-success division_block_border">
                       <div class="panel-heading" ><b>Date & Time : </b></div>
                       <div class="panel-body">
                           <img src="{% static "image/com.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                       </div>
                       <div class="panel-footer">
                           Price : <br>
                           Product-Details : <br>
                           
                       </div>
                   </div>
               </div>
               <div class="col-sm-4"> 
                   <div class="panel panel-success division_block_border">
                       <div class="panel-heading" ><b>Date & Time : </b></div>
                       <div class="panel-body">
                           <img src="{% static "image/tiger.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                       </div>
                       <div class="panel-footer">
                           Price : <br>
                           Product-Details : <br>
                           
                       </div>
                   </div>
               </div>
               <div class="col-sm-4"> 
                   <div class="panel panel-success division_block_border">
                       <div class="panel-heading"><b>Date & Time : </b></div>
                       <div class="panel-body">
                           <img src="{% static "image/com.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                       </div>
                       <div class="panel-footer">
                           Price : <br>
                           Product-Details : <br>
                           
                       </div>
                   </div>
               </div>
           </div>
       </div><br>
         
       <div class="container">    
           <div class="col-sm-4"> 
               <div class="panel panel-success division_block_border">
                   <div class="panel-heading"><b>Date & Time : </b></div>
                   <div class="panel-body">
                       <img src="{% static "image/tiger.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                   </div>
                   <div class="panel-footer">
                       Price : <br>
                       Product-Details : <br>
                       
                   </div>
               </div>
           </div>
           <div class="col-sm-4"> 
               <div class="panel panel-success division_block_border">
                   <div class="panel-heading"><b>Date & Time : </b></div>
                   <div class="panel-body">
                       <img src="{% static "image/com.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                   </div>
                   <div class="panel-footer">
                       Price : <br>
                       Product-Details : <br>
                       
                   </div>
               </div>
           </div>
           <div class="col-sm-4"> 
               <div class="panel panel-success division_block_border">
                   <div class="panel-heading"><b>Date & Time : </b></div>
                   <div class="panel-body">
                       <img src="{% static "image/tiger.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                   </div>
                   <div class="panel-footer">
                       Price : <br>
                       Product-Details : <br>
                       
                   </div>
                   </div>
               </div>
           </div>
       </div><br>
          
       <div class="container">    
           <div class="col-sm-4"> 
               <div class="panel panel-success division_block_border">
                   <div class="panel-heading"><b>Date & Time : </b></div>
                   <div class="panel-body">
                       <img src="{% static "image/com.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                   </div>
                   <div class="panel-footer">
                       Price : <br>
                       Product-Details : <br>
                       
                   </div>
               </div>
           </div>
           <div class="col-sm-4"> 
               <div class="panel panel-success division_block_border">
                   <div class="panel-heading"><b>Date & Time : </b></div>
                   <div class="panel-body">
                       <img src="{% static "image/tiger.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                   </div>
                   <div class="panel-footer">
                       Price : <br>
                       Product-Details : <br>
                       
                   </div>
               </div>
           </div>
           <div class="col-sm-4"> 
               <div class="panel panel-success division_block_border">
                   <div class="panel-heading"><b>Date & Time : </b></div>
                   <div class="panel-body">
                       <img src="{% static "image/com.jpg"%}" class="img-responsive" style="width:100%" alt="Image">
                   </div>
                   <div class="panel-footer">
                       Price : <br>
                       Product-Details : <br>
                       
                   </div>
                   </div>
               </div>
           </div>
       </div><br>

       <div id="addfooter">
        {% include "footer.html"%}
        </div>

   </body>

        <script src="js/custom_javascript.js"></script>

</html>