<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">ShopFast Assistant</a>
        </div> 
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> &nbsp;Home</a></li>
                <li><a href="wish_list.html"><span class="glyphicon glyphicon-heart"></span>&nbsp; Wish List</a></li>
                <li><a href="offers.html"><span class="glyphicon glyphicon-gift"></span> &nbsp;Offers</a></li>
           <!--     <li><a href="refer_and_earn.html"><span class="glyphicon glyphicon-user"></span> &nbsp;Refer & Earn</a></li> -->
                <li><a href="history.html"> <span class="glyphicon glyphicon-signal"></span>&nbsp; History </a></li>
                <li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span>&nbsp; Settings </a></li>
                <li><a href="contect_us.html"><span class="glyphicon glyphicon-envelope"></span> &nbsp;Contact Us</a></li>
                <li><a href="feedback.html"> <span class="glyphicon glyphicon-send"></span>&nbsp; Feedback</a></li>
                <li><a href="about_us.html"> <span class="glyphicon glyphicon-exclamation-sign"></span> &nbsp; About-Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</a></li>
            </ul>
        </div>
    </div>
</nav><br><br><br>